#info-banner{
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.01rem;
  &.error{
    background-color: #FFBABA;
    color: #D8000C;
  }

  &.info{
    background-color: #959be8;
    color: #ffffff;
  }

  .button-icon{
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 7px;
    margin-left: 10px;
    cursor: pointer;
  }

  .span-link{
    text-decoration: underline;
    cursor: pointer;
  }
}