$tagTextColour: #000000;

#editor-top-bar{
    border: 1px solid #ccc;
    border-bottom: none;
    padding: $internalPadding;

    #title-input-container{
        input{
            outline: 0;
            border-width: 0 0 2px;
            border-bottom: solid 2px $accentColour;
            box-shadow: none;
            border-radius: 0;
            padding: 0px;
            font-size: 14px;
        }
    }
    .react-tagsinput{
        margin-top: 0.7rem;
        border: none !important;
        padding-left: 0;
        padding-top: 0;

        .react-tagsinput-tag{
            margin-right: 7px;
            font-size: 13px;
            background-color: #e2e2e2;
            padding: 4px 8px;
            border-radius: 4px;
            color: $tagTextColour;
            border: none;

            a{
                color: $tagTextColour;
                padding-left: 2px;
                font-size: 13px;
            }
        }
        .ReactTags__tagInput{
            display: inline-block;
            input{
                outline: 0;
                border-width: 0 0 2px;
                border-bottom: solid 2px $accentColour;
                box-shadow: none;
                border-radius: 0;
                padding: 0px;
            }
        }

        .ReactTags__suggestions {
            position: absolute;
            z-index: 1;

            ul {
                list-style-type: none;
                box-shadow: .05em .01em .5em rgba(0,0,0,.2);
                background: white;
                width: 200px;

                li {
                    border-bottom: 1px solid #ddd;
                    padding: 5px 10px;
                    margin: 0;

                    mark{
                        text-decoration: underline;
                        background: none;
                        font-weight: 600;
                    }

                    &:hover{
                        background: #b7cfe0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#main-content-container{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

#editor-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: $internalPadding;
}

#editor-container{
    flex-grow: 1;
    position: relative;
    display: flex;
    width: 100%;
}

.quill{
    width: 100%;
    .ql-container{
        height: calc(100% - 43.88px);
    }
}