#menu-buffer{
  margin: 0.7rem;
}

#menu-container{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 5;
  top: 0;
  left: 0;
  .menu-wrapper{
    background-color: #ffffff;
    width: calc(20% + 1.4rem);
    min-width: 170px;
    max-width: 240px;
    padding: 0.7rem;
    .close{
      text-align: right;
      padding-right: 10px;
      padding-top: 10px;
      cursor: pointer;
      font-size: 18px;
      float: right;
    }
    .menu-container{
      width: 80%;
      margin: auto;
      text-align: center;
      margin-top: 20px;
      .menu-item{
        margin-bottom: 5px;
        cursor: pointer;
        padding-bottom: 2px;
        .profile-icon-container{
          font-size: 26px;
          border: 2px solid;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          display: flex;
          margin: auto;
          justify-content: center;
          align-items: center;
        }
        .profile-icon-text{
          font-size: 12px;
          font-weight: 600;
        }
        .text{
          font-size: 15px;
          font-weight: 600;
        }
        hr {
          border: 0;
          height: 1px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          margin-top: 5px;
          margin-bottom: 0px;
        }
      }
    }
  }

  #menu-overlay{
    height: 100vh;
    background-color: #0000009c;
    z-index: 5;
    flex-grow: 1;
  }
}