#sidebar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    #top-bar{
        margin-bottom: $internalPadding;
        border: $itemBorder;
        display: flex;
        flex-flow: column;
        padding: $internalPadding;
        .add-content{
            padding-bottom: $internalPadding;
            display: flex;
            .column{
                padding: 0px;
            }
            .button-icon{
                outline: 0;
                cursor: pointer;
                padding-right: calc(#{$internalPadding} * 2);
                font-size: 22px;
            }
        }
        .search{
            .column{
                padding: 0px;
            }
            .has-icons-left{
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    
    #items-container{
        flex-grow: 1;
        background-color: #ffffff;
        border: $itemBorder;
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
        overflow-y: scroll;
    
        .card{
            outline:0;
            cursor: pointer;
            background-color: #f9f9f9;
            .card-header-title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 0px;
                padding-right: 0px;
            }
            .card-content{
                padding-top: 6px !important;
                padding-bottom: 6px !important;
                .tags{
                    font-size: 14px;
                    margin: 0;
                }
            }
            &.selected{
                background-color: #ffffff;
                border-left: solid 3px $accentColour;
            }
        }
    }
    
    .title-small-margin{
        margin-bottom: 0.5rem !important;
    }
}
